<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="team.component.scss">
</head>
<body>
<nav>
  <h1>Luminos</h1>
  <div class="onglets">
    <a href="home">Home</a>
    <a href="project">Our project</a>
    <a href="lightPollution">About light pollution</a>
    <a href="team">Team</a>
  </div>
</nav>


<header>
  <h1>Luminos</h1>
  <h4>A project by students from Epitech Berlin.</h4>
</header>

<section class="main" id="produits">

  <div class="content">
    <div class="card">
      <div class="left">
        <h1>Yohan Linard</h1>
        <p>Co-founder and head of communications.</p>
      </div>
      <div class="right">
        <img src="https://cdn.discordapp.com/attachments/642056159242616832/848807005262577664/unknown.png" alt="">
      </div>
    </div>

    <div class="card">
      <div class="left">
        <h1>Lucas Huet de guerville</h1>
        <p>Co-funder and responsible for the IOT part.</p>
      </div>
      <div class="right">
        <img src="https://cdn.discordapp.com/attachments/642056159242616832/848804047897362442/chien.png" alt="">
      </div>
    </div>

    <div class="card">
      <div class="left">
        <h1>Antoine Leroux</h1>
        <p>Co-funder and responsible for finance and budget.</p>
      </div>
      <div class="right">
        <img src="https://cdn.discordapp.com/attachments/642056159242616832/848804035904536596/antoine.png" alt="">
      </div>
    </div>

    <div class="card">
      <div class="left">
        <h1>Théo Eberlen</h1>
        <p>Co-funder and responsible for the marketing part.</p>
      </div>
      <div class="right">
        <img src="https://cdn.discordapp.com/attachments/642056159242616832/848804060861300746/theo.png" alt="">
      </div>
    </div>

    <div class="card">
      <div class="left">
        <h1>Jean Delaunay</h1>
        <p>Co-funder and full stack developers.</p>
      </div>
      <div class="right">
        <img src="https://cdn.discordapp.com/attachments/642056159242616832/848806279933329420/unknown.png" alt="">
      </div>
    </div>
  </div>

</section>
