<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="home.component.scss">
</head>
<body>
<nav>
  <h1>Luminos</h1>
  <div class="onglets">
    <a href="home">Home</a>
    <a href="project">Our project</a>
    <a href="lightPollution">About light pollution</a>
    <a href="team">Team</a>
  </div>
</nav>

<header>
  <h1>Luminos,</h1>
  <h4>Save our energy.</h4>
  <object width="470" height="380" data="https://www.youtube.com/embed/BQoFazrx_K8"></object>
</header>

<footer>

  <h1>You can contact us</h1>

  <p id="contact">Contact :  Luminos@gmail.com | &copy; 2021, Luminos.</p>
</footer>

